.navbar {
    padding: 0;
    margin: 0;
    background-color: #033d77; 
    padding: 1rem; 
    padding-left: 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 1250px;
    height: 20px;
    max-width: 100%;
    position: relative;
  
    &-brand {
      font-size: 1.5rem; 
      color: white; 
      text-decoration: none; 
      &:hover {
        color: white; 
      }
    }
  
    &-menu {
      display: flex; 
      align-items: center; 
  
      .navbar-item {
        color: #ecf0f1; 
        text-decoration: none; 
        margin: 0 1rem; 
        font-size: 1rem; 
  
        &:hover {
          color: white;
        }
      }

      .navbar-brand {
        color: white; 
      }
  
      .logout-btn {
        background: none; 
        border: none; 
        color: #ecf0f1; 
        cursor: pointer; 
        font-size: 1rem;
        margin-left: 1rem; 
  
        &:hover {
          color: #ffffff; 
        }
      }
    }
  }